body {
    background-image: url("assets/technology/background-technology-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  
  }
  
  .nav{
      min-height: 100px;
      display: flex;
      color:#FFFFFF;
      font-family: Barlow Condensed;
      font-style: normal;
      font-size: 18px;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: 2.700000047683716px;
      text-align: left;
  
  }
  #navtext{
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(40.7742px);
      display: flex;
  }
  .navcontent{
      text-align: center;
      color:white;
  
  }
  ul {
      list-style: none; 
      margin: 0; 
      padding: 0; 
      display: flex; 
      align-items: center;
  }
  
  li {
      padding: 0 40px; 
  }
  
  a {
      text-decoration: none; 
      color:#FFFFFF;
  }
  #navbar li a:hover {
      color: white;
  }
  #destination{
      text-decoration: underline;
      
  }
  #num{
      font-family: Barlow Condensed;
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 4.724999904632568px;
  text-align: left;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.25;
  }
  #dest{
      Font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4.725px;
  text-transform: uppercase;
  
  color: #FFFFFF;
  }
  .lastdiv{
      min-height: 400px;
  text-align: left;
  }
  .number_circle{
      height:80px;
      width:80px;
      border: 1px solid white;
      border-radius: 50%;
      font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 37px;
  
  text-align: center;
  letter-spacing: 2px;
  
     
  }
  #colored_circle{
      background-color: #FFFFFF;
      color: #0B0D17;
      text-align: center;
  }
  .align_number{
      display: block;
  }
  .uncolored_circle{
      color: white;
      text-align: center;
  }
  .term{
  
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  
  color: #D0D6F9;
  }
  .launch{
      font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  
  color: #FFFFFF;
  
  }
  .main_text{
      font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #D0D6F9;
  }
  @media only screen and (min-width: 1025px) {
         body {
       background-image: url("assets/crew/background-crew-desktop.jpg");
       background-repeat: no-repeat;
       background-size: cover;
       background-attachment: fixed;
       background-position: center;
     }
     .small_devices{
      display: none;
     }
     .lastdiv{
      min-height: 400px;
  text-align: left;
  }
  .small_device{
         display: none;
     }
     }
     
     
     .nav{
         height: 100px;
         display: flex;
         color:#FFFFFF;
         font-family: Barlow Condensed;
         font-style: normal;
         font-size: 18px;
         font-weight: 400;
         line-height: 19px;
         letter-spacing: 2.700000047683716px;
         text-align: left;
     
     }
     #navtext{
         background: rgba(255, 255, 255, 0.1);
         backdrop-filter: blur(40.7742px);
         display: flex;
     }
     .navcontent{
         text-align: center;
         color:white;
     
     }
     ul {
         list-style: none; 
         margin: 0; 
         padding: 0; 
         display: flex; 
         text-align: center;
     }
     
     li {
         padding: 0 40px; 
     }
     
     a {
         text-decoration: none; 
         color:#FFFFFF;
     }
     #navbar li a:hover {
         color: white;
     }
     
     
     
     .underline{
       text-decoration:underline;
     }
     
     
     
     .small_devices{
         display: none;
     }
     /* for screens between 768px and 1024px */
     @media only screen and (min-width: 701px) and (max-width: 1024px) {
         body{
             background-image: url("assets/crew/background-crew-tablet.jpg");
             background-repeat: no-repeat;
             background-size: cover;
             background-attachment: fixed;
             background-position: center;
             min-height: 1000px;
         }
       
         .hidden_div, .hidden{
         display: none;
     }
     .num_nav{
         display: none;
     }
     
         li {
         padding: 0 20px; 
     }
     #navbar li{
         padding: 0 20px;
         font-size: 17px;
     }
   
    .lastdiv{
        text-align: center !important;
    }
    .large_device{
      display: none;
     }
     .number_circle{
      height:60px;
      width:60px;
      border: 1px solid white;
      border-radius: 50%;
      font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 37px;
  
  text-align: center;
  letter-spacing: 2px;
  
     
  }
  #num, #dest{
      font-size: 20px;
  line-height: 24px;
  }
  .term{
      font-size: 16px;
  line-height: 19px;
  }
  .launch{
      font-size: 40px;
  line-height: 46px;
  }
  .main_text{
      font-size: 16px;
  line-height: 28px;
  
  }
  #colored_a{
      color: #0B0D17 !important;
  }
  
     }
     /* for screens smaller */
     @media only screen and (max-width: 700px) {
         body{
             background-image: url("assets/crew/background-crew-mobile.jpg");
             background-repeat: no-repeat;
             background-size: cover;
             background-attachment: fixed;
             background-position: center;
     
         }
        
     .hidden_div, .hidden{
         display: none;
     }
     .other_devices{
         display: none;
     }
     #small_device_nav{
         display: inline;
     }
     .small_devices{
         display: inline;
     }
     .other_devices{
         display: none !important;
     }
     .offcanvas{
         background-color: rgba(6, 23, 50, 0.9) !important;
     backdrop-filter: blur(40.7742px);
     
     
     }
      .offcanvas-body ul{
         display: block;
     }
     .offcanvas-body{
         margin-top: 10%;
     }
     .offcanvas-body li{
         margin-bottom: 10%;
         font-family: 'Barlow Condensed';
     font-style: normal;
     font-weight: 400;
     font-size: 20px;
     line-height: 19px;
     letter-spacing: 2.7px;
     
     color: #FFFFFF;
     }
     .offcanvas-body .num_nav{
         font-family: 'Barlow Condensed';
     font-style: normal;
     font-weight: 700;
     font-size: 20px;
     line-height: 19px;
     letter-spacing: 2.7px;
     
     color: #FFFFFF;
     }
     
     li {
         padding: 0 8px; 
     }
     #navbar{
         text-align: left;
     }
    
     .lastdiv{
        text-align: center ;
     }
     .large_device{
      display: none;
     }
     .number_circle{
      height:60px;
      width:60px;
      border: 1px solid white;
      border-radius: 50%;
      font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 37px;
  text-align: center;
  letter-spacing: 2px;
  
     
  }
  #num, #dest{
      font-size: 16px;
  line-height: 19px;
  }
  .term{
      font-size: 14px;
  line-height: 17px;
  }
  .launch{
      font-size: 24px;
  line-height: 28px;
  }
  .main_text{
      font-size: 15px;
  line-height: 25px;
  
  }
  #colored_a{
      color: #0B0D17 !important;
  }
     }
    